<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechSupport_Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TechSupport_Utilities.Properties.Settings>
            <setting name="connectstring" serializeAs="String">
                <value>Data Source=10.192.43.91;Initial Catalog=SupportStaff;User ID={0}; password={1};Connect Timeout=10</value>
            </setting>
        </TechSupport_Utilities.Properties.Settings>
    </userSettings>
</configuration>